body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em !important;
}

canvas {
    border: 1px solid #000000;
    margin: 1em;
}

button {
    width: 5em;
}

.experiment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slidecontainer {
    width: 400px;
    margin-bottom: 1em;
}

.jumbotron {
    background-color: #fff !important;
}

.button-primary {
    width: auto !important;
}

.btn-primary:disabled {
    background-color: #aaa !important;
    border-color: #888 !important;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: lightskyblue; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
